In [7]:
from sqlalchemy import create_engine
import math

In [3]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

#1 How many movies are released for each rating?

In [4]:
sql = '''
    SELECT count(*), rating
    FROM film 
    GROUP BY rating
'''

results1 = engine.execute(sql)
engine.dispose()
rows = results1.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(195, 'R')
(210, 'NC-17')
(194, 'PG')
(223, 'PG-13')
(178, 'G')

#2 What is the average rental duration for each rating?

In [5]:
sql = '''
    SELECT AVG(rental_duration), rating
    FROM film
    GROUP BY rating
'''

results2 = engine.execute(sql)
engine.dispose()
rows = results2.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(Decimal('4.7743589743589744'), 'R')
(Decimal('5.1428571428571429'), 'NC-17')
(Decimal('5.0824742268041237'), 'PG')
(Decimal('5.0538116591928251'), 'PG-13')
(Decimal('4.8370786516853933'), 'G')

#3 What is the mean movie length? Calculate this by defining a function.

In [6]:
sql = '''
    SELECT length
    FROM film
'''

results3 = engine.execute(sql)
engine.dispose()
rows = results3.fetchall()

def mean(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

answer = [row['length'] for row in rows]

print(mean(answer))

115.272

#4 What is the median movie length? Calculate this by defining a function.

In [12]:
sql = '''
    SELECT length
    FROM film
'''

def median(numbers):
  numbers.sort()
  count = len(numbers) 
  isEven = count % 2 == 0
  
  if (isEven):
    mid = math.floor( count / 2 )
    a = numbers[mid - 1]
    b = numbers[mid]
    ans = (a + b) / 2
  else:
    ans = numbers[math.floor( count / 2 )]
 
  return ans

print(median(answer))

114.0

#5 Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [13]:
def standard_deviation(numbers):
  X_bar = mean(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

print(standard_deviation(answer))

40.42633181855988